<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
  </head>
  <body>
    <h1>Add a new Tokimon</h1>
    <form class="" action="/added" method="post">
        <input id ="newName" type="text" name="name" placeholder="Name" required>
        <input id ="newWeight" type="number" min="0" name="weight" placeholder="Weight" required>
        <input id ="newHeight" type="number" min="0" name="height" placeholder="Height" required>
        <input id ="newFly" type="number" min="0" name="fly" placeholder="Fly" required>
        <input id ="newFight" type="number" min="0" name="fight" placeholder="Fight" required>
        <input id ="newFire" type="number" min="0" name="fire" placeholder="Fire" required>
        <input id ="newWater" type="number" min="0" name="water" placeholder="Water" required>
        <input id ="newElectric" type="number" min="0" name="electric" placeholder="Electirc" required>
        <input id ="newFrozen" type="number" min="0" name="frozen" placeholder="Frozen" required>
        <input id ="newTrainer" type="text" name="trainer" placeholder="Trainer" required>
        <input type="submit" name="" value="Add Tokimon">
    </form> 
    <button type="button" id ="home" onclick="window.location.href = './';">Home</button>
    <!-- <button type="button" id ="change">Change a Tokimon</button>
    <button type="button" id ="delete">Delete a Tokimon</button>
    <button type="button" id ="display">Display a Tokimon</button>
    <button type="button" id ="all">See All Tokimon</button>   -->
  </body>
</html>
