<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a new Tokimon</h1>
    <form class="" action="/added" method="post">
        <input id ="newName" type="text" name="name" placeholder="Name">
        <input id ="newWeight" type="number" name="weight" placeholder="Weight">
        <input id ="newHeight" type="number" name="height" placeholder="Height">
        <input id ="newFly" type="number" name="fly" placeholder="Fly">
        <input id ="newFight" type="number" name="fight" placeholder="Fight">
        <input id ="newFire" type="number" name="fire" placeholder="Fire">
        <input id ="newWater" type="number" name="water" placeholder="Water">
        <input id ="newElectric" type="number" name="electric" placeholder="Electirc">
        <input id ="newFrozen" type="number" name="frozen" placeholder="Frozen">
        <input id ="newTrainer" type="text" name="trainer" placeholder="Trainer">
        <input type="submit" name="" value="Add Tokimon">
    </form> 
    <button type="button" id ="change">Change a Tokimon</button>
    <button type="button" id ="delete">Delete a Tokimon</button>
    <button type="button" id ="display">Display a Tokimon</button>
    <button type="button" id ="all">See All Tokimon</button>  
  </body>
</html>
