<html>
    <H1>Hello There!</H1>
    <form class="" action="/login" method="post">
        <input id ="in" type="text" name="user" placeholder="Username">
        <input type="password" name="pwd" value="" placeholder="Password">
        <input type="submit" name="" value="SUBMIT">
    </form>  
    
</html>