<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <H1>Tokimon Database</H1>
   
    <button type="button" id ="add">Add a Tokimon</button>
    <button type="button" id ="change">Change a Tokimon</button>
    <button type="button" id ="delete">Delete a Tokimon</button>
    <button type="button" id ="display">Display a Tokimon</button>
    <button type="button" id ="all">See All Tokimon</button>
  </body>
</html>