html,body{
  height: 100%;
  background-color: rgb(246, 213, 156); 
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
  text-align: left;
}
table {
  border-collapse: collapse;
}
#tokimon_sizes {
  /* height: 90%; */
  /* width: 100%; */
  display: inline;
  /* background-color: orange; */
  align-items: flex-end;
  justify-content: center;
}
#chart {
  height: 40%;
  width: 40%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
}
